@model IEnumerable<Customer>

@{
    ViewData["Title"] = "List of customers";
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">

<h1 class="text-center">List of customers</h1>
<hr />
<a class="btn btn-success" asp-action="AddCustomer"><i class="fa-solid fa-circle-plus" style="padding:5px"></i>Add New Customer</a>
<br />
<br />

<table class="table table-striped table-bordered">
    <tr>
        <th class="text-center">#</th>
        <th class="text-center">Name</th>
        <th class="text-center">Lastname</th>
        <th class="text-center">Username</th>
        <th class="text-center">Mail</th>
        <th class="text-center">Actions</th>
    </tr>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th class="text-center">@item.ID</th>
                <td class="text-center">@item.Name</td>
                <td class="text-center">@item.Lastname</td>
                <td class="text-center">@item.Username</td>
                <td class="text-center">@item.Mail</td>
                <td class="text-center">
                    <a class="btn btn-info text-white" asp-action="Detail" asp-route-id="@item.ID"><i class="fa-solid fa-eye" style="padding:5px"></i>DETAIL</a>
                    <a class="btn btn-secondary text-white" asp-action="Edit" asp-route-id="@item.ID"><i class="fa-solid fa-pen-to-square" style="padding:5px"></i>EDIT</a>
                    <a href="/Customer/Delete/@item.ID" class="btn btn-danger"><i class="fa-solid fa-trash" style="padding:5px"></i>DELETE</a>
                </td>
            </tr>
        }
    </tbody>
</table>